.orderNow{
    display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  background: rgba(114, 186, 94, 0.05);
}
.orderNowSticky{
    position: sticky;
    top: 10em;
}